<div data-controller="tabs">
  <h1>New Perf Check</h1>

  <ul class="tabs">
    <%= content_tag(:li, data: { action: 'click->tabs#select', target: "tabs.tab" }) do %>
      <a href="#compare-branches"><%= fa_icon 'code-branch' %> Compare branches</a>
    <% end %>
    <%= content_tag(:li, data: { action: 'click->tabs#select', target: "tabs.tab" }) do %>
      <a href="#compare-paths"><%= fa_icon 'road' %> Compare paths</a>
    <% end %>
    <%= content_tag(:li, data: { action: 'click->tabs#select', target: "tabs.tab" }) do %>
      <a href="#custom"><%= fa_icon 'sliders-h' %> Custom</a>
    <% end %>
  </ul>

  <%= form_with url: jobs_path(anchor: 'compare-branches'), model: @job, remote: false, name: 'compare-branches', data: { target: 'tabs.content' } do |form| %>
    <div>
      <%= error_messages @job.errors %>
    </div>
    <%= form.hidden_field :compare, value: 'branches' %>
    <div>
      <div><%= form.label :experimental_branch, 'Experiment on branch' %></div>
      <%= form.text_field :experimental_branch, placeholder: 'lrz/optimize-load-times' %>
    </div>
    <div>
      <div><%= form.label :reference_branch, 'Reference against' %></div>
      <%= form.text_field :reference_branch %>
    </div>
    <div>
      <div><%= form.label :request_paths %></div>
      <div><%= text_field_tag "job[paths][]", form.object.paths&.first, placeholder: '/request/path' %></div>
    </div>
    <div class="select-user" data-controller="user-selection">
      <%= form.select :user_role, user_role_options_for_select(@job.user_role), {}, data: { action: 'change->user-selection#change' } %>
      <%= form.text_field :user_email, placeholder: 'marcia@example.com', disabled: true, data: { target: 'user-selection.text' } %>
    </div>
    <div>
      <%= form.number_field :number_of_requests %> requests
    </div>
    <div>
      <label><%= form.check_box :run_migrations %> Run migrations</label>
      <p class="help">Runs migrations introduced in the branch and rolls back afterwards.</p>
    </div>
    <div>
      <%= form.submit 'Create & Run Job' %>
    </div>
  <% end %>

  <%= form_with url: jobs_path(anchor: 'compare-paths'), model: @job, remote: false, name: 'compare-paths', data: { target: 'tabs.content' } do |form| %>
    <div>
      <%= error_messages @job.errors %>
    </div>
    <%= form.hidden_field :compare, value: 'paths' %>
    <div>
      <div><%= form.label :experimental_branch, 'Experiment on branch' %></div>
      <%= form.text_field :experimental_branch, placeholder: 'lrz/optimize-load-times' %>
    </div>
    <div>
      <div><%= form.label :request_paths %></div>
      <% form.object.paths_for_form.each do |path| %>
        <div><%= text_field_tag "job[paths][]", path, placeholder: '/request/path' %></div>
      <% end %>
    </div>
    <div class="select-user" data-controller="user-selection">
      <div><%= form.label :authenticated_user %></div>
      <%= form.select :user_role, user_role_options_for_select(@job.user_role), {}, data: { action: 'change->user-selection#change' } %>
      <%= form.text_field :user_email, placeholder: 'marcia@example.com', disabled: true, data: { target: 'user-selection.text' } %>
    </div>
    <div>
      <%= form.number_field :number_of_requests %> requests
    </div>
    <div>
      <label><%= form.check_box :run_migrations %>Run migrations</label>
      <p class="help">Runs migrations introduced in the branch and rolls back afterwards.</p>
    </div>
    <div>
      <%= form.submit 'Create & Run Job' %>
    </div>
  <% end %>

  <%= form_with url: jobs_path(anchor: 'custom'), model: @job, remote: false, name: 'custom', data: { target: 'tabs.content' } do |form| %>
    <% unless @job.errors.empty? %>
    <div>
      <pre class="command">perf_check <%= @job.arguments %></pre>
      <%= error_messages @job.errors %>
    </div>
    <% end %>
    <div>
      <%= form.text_field :custom_arguments %>
    </div>
    <div>
      <%= form.submit 'Create & Run Job' %>
    </div>
  <% end %>
</div>
