<div>
  <h1>New Perf Check</h1>

  <%= form_with(
    url: jobs_path(anchor: 'compare-branches'),
    model: @job,
    local: true
  ) do |form| %>
    <div>
      <%= error_messages @job.errors %>
    </div>
    <%= form.hidden_field :task, value: 'compare_branches' %>
    <div>
      <div><%= form.label :experiment_branch, 'Experiment on branch' %></div>
      <%= form.text_field :experiment_branch, placeholder: 'lrz/optimize-load-times' %>
    </div>
    <div>
      <div><%= form.label :reference_branch, 'Reference against' %></div>
      <%= form.text_field :reference_branch %>
    </div>
    <div>
      <div><%= form.label :request_paths %></div>
      <% form.object.request_paths_for_form.each do |request_path| %>
        <div><%= text_field_tag "job[request_paths][]", request_path, placeholder: '/request/path' %></div>
      <% end %>
    </div>
    <div class="select-user" data-controller="user-selection">
      <%= form.select :request_user_role, user_role_options_for_select(@job.request_user_role), {}, data: { action: 'change->user-selection#change' } %>
      <%= form.text_field :user_email, placeholder: 'marcia@example.com', disabled: true, data: { target: 'user-selection.text' } %>
    </div>
    <div>
      <%= form.number_field :number_of_requests %> requests
    </div>
    <div>
      <label><%= form.check_box :run_migrations %> Run migrations</label>
      <p class="help">Runs migrations introduced in the branch and rolls back afterwards.</p>
    </div>
    <div>
      <%= form.submit 'Create & Run Job' %>
    </div>
  <% end %>
</div>
