<div class="job">
  <header class="job-header">
    <%= form_with(
      url: job_clone_path(@job),
      local: true
    ) do |form| %>
      <%= form.submit('↻ Re-Run PerfCheck', class: 'pull-right') %>
    <% end %>
    <% if @job.github_html_url.present? %>
      <%= link_to "#{fa_icon 'github', type: 'brand'} View".html_safe, @job.github_html_url, class: 'styled-button re-run pull-right' %>
    <% end %>
    <h2>Job <%= @job.id %></h2>
    <hr>
    <span class="pull-right perf-check-status-<%= @job.id %> status <%= @job.status %>"><%= @job.status %></span>
    <h3>
      <%= fa_icon 'code-branch' %>
      <%= @job.experiment_branch %>
      <% if @job.compare_branches? %>vs. <%= @job.reference_branch %><% end %>
    </h3>
    <div>
      created <%= time_ago(@job.created_at) %> by <%= @job.user_name %>
    </div>
    <div><i>
      <%= pluralize(@job.number_of_requests, 'request') %>
      <% if @job.specific_request_user? %>
        authenticated as <%= @job.request_user_email %>
      <% elsif @job.request_user_role.present? %>
        authenticated as <%= @job.request_user_role.start_with?('a') ? 'an' : 'a' %> <%= @job.request_user_role %>
      <% end %>
     </i></div>
     <% unless @job.statistics.present? %>
       <% @job.request_paths.each do |request_path| %>
         <div><%= request_path %></div>
       <% end %>
      <% end %>
  </header>
  <% if @job.measurements.present? && @job.statistics.present? %>
    <%= render @job.report_sections %>
    <hr>
  <% else %>
    <% if @test_cases.any? %>
      <div class="test-cases">
        <% @test_cases.each do |test_case| %>
          <%= render 'test_case', test_case: test_case %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <pre id="log" data-perf-check-id="<%= @job.id %>" data-log-filename="<%= @job.log_filename %>" data-broadcast="<%= @job.expects_status_updates? %>"><%== render_log(@job.output.presence || "Waiting for job to start...") %></pre>
</div>