<div class="job">
  <header class="job-header">
    <%= link_to "#{fa_icon 'github', type: 'brand'} View on Github".html_safe, "https://github.com/#{current_user.github_login}", class: 'styled-button re-run pull-right' %>

    <h2 style="text-align: center"><%= fa_icon 'motorcycle' %> 
      <% if params[:id] == 'current_user' %>
        My Perf Check Jobs 
      <% else %>
        <%= "@" + current_user.github_login %>'s
        Perf Check Jobs
      <% end %>

      (<%= @user_jobs.count %>)
  </h2>
    <hr />
    <div class="details">
      <% if @user_jobs_records.blank? %>
        <h3 style="text-align: center">You haven't run any jobs yet - <%= link_to 'Create One', [:new, :job] %></h3>
      <% else %>
        <table class="table">
          <thead>
            <th>ID</th>
            <th>Branch</th>
            <th>Job</th>
            <th>Status</th>
            <th>Date</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <% @user_jobs_records.each do |job| %>
              <tr>
                <td><%= job.id %></td>
                <td><%= job.experiment_branch %></td>
                <td class="status perf-check-status-<%= job.id %> <%= job.status %>"><%= job.status %></td>
                <td><%= job.created_at.strftime("%b #{job.created_at.day}#{job.created_at.day.ordinal} at #{job.created_at.hour}:%M PM") %></td>
                <td>
                  <%= link_to " View Job".html_safe, job, class: 'styled-button re-run pull-right' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="pagination-container">
          <%== pagy_nav(@user_jobs) %>
        </div>
        <br />
      <% end %>
    </div>
   </header>

</div>