
<div id="header">
  <div id="user-nav" class="pull-right">
    <div class="dropdown">
      <button class="dropbtn"><%= image_tag current_user.avatar_url %></button>
      <div class="dropdown-content">
        <%= link_to logout_path do %>
          <%= fa_icon 'power-off' %> Log Out
        <% end %>
      </div>
    </div>
  </div>
  <h1><a href="/">Perf Check CI : Status Page</a></h1>
  <div class="new-job pull-right"><%= link_to "#{fa_icon 'plus'} New PerfCheck Job".html_safe, [:new, :perf_check_job], class: 'styled-button pull-right' %></div>
  <div id="status-content">
    <a href="/sidekiq"><span class="system-status offline hidden">Sidekiq & Daemon Offline <%= fa_icon 'times' %></span></a>
    <a href="/sidekiq"><span class="system-status online">Sidekiq & Daemon Online <%= fa_icon 'check' %></span></a>
  </div>
</div>
