<div id="header">
  <% if current_user %>
    <div id="user-nav" class="pull-right">
      <div class="dropdown">
        <% if current_user.github_avatar_url %>
          <button class="dropbtn"><%= image_tag current_user.github_avatar_url %></button>
        <% end %>
        <div class="dropdown-content">
          <%= link_to user_path do %>
            <%= fa_icon 'motorcycle' %> My Perf Checks
          <% end %>
          <%= form_with(url: session_path, method: 'delete') do %>
            <button type="submit"><%= fa_icon 'power-off' %> Log Out</button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <h1><a href="/">Perf Check CI : Status Page</a></h1>
  <div class="new-job pull-right"><%= link_to "#{fa_icon 'plus'} New Perf Check".html_safe, [:new, :job], class: 'styled-button pull-right' %></div>
  <div id="status-content">
    <a href="/status"><span class="system-status offline hidden">Sidekiq & Daemon Offline <%= fa_icon 'times' %></span></a>
    <a href="/status"><span class="system-status online">Sidekiq & Daemon Online <%= fa_icon 'check' %></span></a>
  </div>
</div>
