<%= form_tag params.except(:search).permit!, method: :get do %>
  <div class="browser-app-filter-container">
    <span class="browser-app-filter-clear"><a href="#"><i class="fa fa-search"></i></a></span>
    <%= search_field_tag :search, params[:search], placeholder: 'Search Jobs', id: 'search-field' %>
  </div>
<% end %>

<ul class="browser-app-results">
  <% if @perf_check_jobs.blank? %>
    <li style="text-align: center;">No more results</li>
  <% else %>
    <% @perf_check_jobs.each do |job| %>
      <li>
          <%= link_to perf_check_job_path(job) do %>
            <div data-link-to="<%= perf_check_job_path(job) %>">
              <small class="pull-left status <%= job.status %>"><%= job.status %></small>
              <strong class="branch"><%= job.branch %></strong>
              <small class="time"><%= fa_icon 'clock-o' %> <%= time_ago(job.created_at) %></small>
              <small class="name">by <%= job.username %></small>
            </div>
          <% end %>
      </li>
    <% end %>

    <li style="text-align: center;"><%= link_to 'Load More Results', '#' %></li>
  <% end %>
</ul>