<div id="aligner" data-controller="perf-check-wizard">
  <div id="new-perf-check-job">
    <h1><%= fa_icon 'motorcycle' %> New Perf Check </h1>
    <hr />

    <div class="number-of-runs">
      <%= number_field_tag :number_of_runs, params[:number_of_runs], class: 'text-field', data: {target: 'perf-check-wizard.numberOfRuns', action: 'keyup->perf-check-wizard#setFinalCommand change->perf-check-wizard#setFinalCommand'} %>
      <label>Runs</label>
    </div>

    <div class="branch-name">
      <%= text_field_tag :branch, params[:branch], class: 'text-field', placeholder: 'Branch Name', data: {target: 'perf-check-wizard.branchName', action: 'keyup->perf-check-wizard#setFinalCommand change->perf-check-wizard#setFinalCommand'}%>

      <label>
        <%= check_box_tag :only_bench_branch, true, false, {data: {target: 'perf-check-wizard.onlyBenchBranch', action: 'keyup->perf-check-wizard#setFinalCommand change->perf-check-wizard#setFinalCommand'}} %>
        Only Bench Branch
      </label>
    </div>


    <label>Urls to Benchmark:</label>
    <ul class="urls-to-benchmark">
      <li>
        <%= text_field_tag "url[]", nil, class: 'text-field', placeholder: '/path/to/bencmark' %>
      </li>
      <li><a href="#" class="styled-button pull-right">+ Add Url</a></li>
    </ul>


    <div class="run-as-user">
      <%= select_tag :run_as_user, options_for_select(PerfCheckJob::PERF_CHECK_USER_TYPES),  class: 'text-field' %>
    </div>

    <br />

    <div class="perf-check-options">
      <label>
        <%= check_box_tag :run_migrations, true, false, {data: {target: 'perf-check-wizard.runMigrations', action: 'keyup->perf-check-wizard#setFinalCommand change->perf-check-wizard#setFinalCommand'}} %>
        Run Migrations
      </label>
      <br />

      <label>
        <%= check_box_tag :verify_no_diff, true, false, {data: {target: 'perf-check-wizard.verifyNoDiff', action: 'keyup->perf-check-wizard#setFinalCommand change->perf-check-wizard#setFinalCommand'}} %>
        Verify No Diff
      </label>
    </div>

    <%= form_for @perf_check_job do |f| %>
      <h4>Final Command:</h4>
      <br />
      <%= f.text_field :arguments, class: 'text-field', required: 'required', data: {target: 'perf-check-wizard.finalCommand'} %>
      <br />
      <%= submit_tag 'Create Job', class: 'submit' %>
    <% end %>
  </div>
</div>
