<div class="job">
  <header class="job-header">
    <%= link_to "#{fa_icon 'refresh'} Re-Run PerfCheck".html_safe, '#', class: 'styled-button re-run pull-right' %>
    <%= link_to "#{fa_icon 'github'} View #1234567".html_safe, '#', class: 'styled-button re-run pull-right' %>
    <h2>PerfCheckJob ID: <%= @perf_check_job.id %></h2>
    <hr style="background-color: #EEE;" />
    <span class="pull-right status <%= @perf_check_job.status %>"><%= @perf_check_job.status %></span>
    <h3><%= @perf_check_job.branch %></h3>
    <div class="created-by">
      <span class="time-ago"><%= fa_icon 'clock-o' %> <%= time_ago(@perf_check_job.created_at) %></span>
      by
      <span><strong><%= @perf_check_job.username %></strong></span>
    </div>
    <pre class="command"><%= @perf_check_job.arguments %></pre>
  </header>
  <!-- This is outputted the perfcheck daemon post -->
  <% if @perf_check_job.result_details.present?  %>
    <div class="details">
      <%== markdown(@perf_check_job.result_details) %>
    </div>
  <% end %>

  <pre id="log" data-log-path="<%= @perf_check_job.log_path %>">Loading <%= @perf_check_job.log_path %> ...</pre>
</div>