<div class="job">
  <header class="job-header">
    <%= link_to "#{fa_icon 'refresh'} Re-Run PerfCheck".html_safe, '#', class: 'styled-button re-run pull-right' %>
    <%= link_to "#{fa_icon 'github'} View #1234567".html_safe, '#', class: 'styled-button re-run pull-right' %>
    <h2>PerfCheckJob ID: <%= @perf_check_job.id %></h2>
    <hr style="background-color: #EEE;" />
    <h3><%= @perf_check_job.branch %></h3>
    <div class="created-by">
      <span class="time-ago"><%= fa_icon 'clock-o' %> <%= time_ago(@perf_check_job.created_at) %></span>
      by
      <span><strong><%= @perf_check_job.username %></strong></span>
    </div>
    <pre class="command"><%= @perf_check_job.arguments %></pre>
  </header>
  <div class="details">
    <p><strong>/url/that/is/being-perf-checked?eh=1</strong><br>
    <i class="fa fa-times-circle" aria-hidden="true"></i> Encountered HTTP errors (500)<br>
    <i class="fa fa-search" aria-hidden="true"></i> No backtrace captured, indicating a low level boot issue. Ensure that the app boots happily on the perf check server.</p>
    <p><%= link_to 'See more details', '#' %>.</p>
  </div>
  <pre id="log">Loading <%= @perf_check_job.log_path %> ...</pre>
</div>