<!DOCTYPE html>
<html>
  <head>
    <title>PerfCheckCi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header'%>
    <div id="content" class=" show-me" style="height: 100%;">
      <div data-reactroot="" class="browser-app">
        <div class="browser-app-filter">
          <%= render 'shared/search_side_nav' %>
        </div>

        <div class="browser-app-viewport">
          <div class="browser-app-viewport-content">
            <%= yield %>
          </div>
        </div>
    </div>
  </body>
</html>
